In [26]:
import pandas as pd
import os
import openpyxl
import sys
!{sys.executable} -m pip install xlrd
#import files and select columns to manipulate
def readPurchaseList(excel_names, sheet_names,columns):
    data = pd.read_excel(excel_names, sheet_name=sheet_names)
    df= pd.DataFrame(data,columns=columns)
    return data,df

Requirement already satisfied: xlrd in c:\users\pmarkov1\anaconda3\envs\homl3\lib\site-packages (2.0.1)

In [27]:
import tkinter as tk
from tkinter import filedialog


root = tk.Tk()
root.withdraw()

excel_name1 = filedialog.askopenfilename(title='Select Excel Files to compare')
sheet_names = 'Parts_list' 
columns = ['Unnamed: 0','Unnamed: 1','Description','Change number']
data, first_list = readPurchaseList(excel_name1, sheet_names,columns)
excel_name2 = filedialog.askopenfilename(title='Select Excel Files to compare') 
data, second_list = readPurchaseList(excel_name2, sheet_names,columns)

In [46]:
station1 = excel_name1.split('GA-')[3].split('/')[0]
station2 = excel_name2.split('/')[6].split('(')[0]

In [29]:
import re
def regexCorrection(string):
    return re.sub('[^a-zA-Z0-9]', '', string.upper())

In [30]:
def returnUniqueCodes(some_list):
    codes = some_list['Unnamed: 1'].values
    corrected_codes = [regexCorrection(str(item)) for item in codes[4:-1]]
    unique = set(corrected_codes)
    if len(corrected_codes)!=len(unique):
        return False,unique
    else:
        return True, unique

In [45]:
compared = first_list.compare(second_list).rename({'self': station1, 'other': station2}, axis=1, level=1)
print(compared.iloc[3:-1])

   Unnamed: 0                  Unnamed: 1                   Description  \
   336110FD01 436010FD01       336110FD01       436010FD01   336110FD01
4           0          0  D22-068 140 150  D18-052 696 731          NaN
5         100        100  D22-068 140 151  D18-052 696 733          NaN
6         101        101  D22-068 140 179  D18-052 696 796          NaN
7         102        102              NaN              NaN          NaN
8         103        103              NaN              NaN          NaN
9         104        104              NaN              NaN          NaN
10        105        105              NaN              NaN          NaN
11        106        106              NaN              NaN          NaN
12        107        107              NaN              NaN          NaN
13        108        108              NaN              NaN          NaN
14        110        110  D22-068 140 189  D18-052 696 803          NaN
15        112        112              NaN              NaN          NaN
16        114        114              NaN              NaN          NaN
17        115        115              NaN              NaN          NaN
18        116        116              NaN              NaN          NaN
19        117        117  D22-068 140 169  D18-052 696 795          NaN
20        118        118              NaN              NaN          NaN
21        119        119              NaN              NaN          NaN
22        120        120              NaN              NaN          NaN
23        121        121              NaN              NaN          NaN
24        122        122              NaN              NaN          NaN
25        123        123              NaN              NaN          NaN
26        124        124  D22-068 140 156  D18-052 696 747  Swivel_Unit
27        125        125              NaN              NaN          NaN
28        126        126              NaN              NaN          NaN
29        127        127              NaN              NaN          NaN
30        128        128              NaN              NaN          NaN

               Change number
    436010FD01    336110FD01 436010FD01
4          NaN           NaN        NaN
5          NaN           NaN        NaN
6          NaN           NaN        NaN
7          NaN           NaN        NaN
8          NaN           NaN        NaN
9          NaN           NaN        NaN
10         NaN           NaN        NaN
11         NaN           NaN        NaN
12         NaN           NaN        NaN
13         NaN           NaN        NaN
14         NaN           NaN        NaN
15         NaN           NaN        NaN
16         NaN           NaN        NaN
17         NaN           NaN        NaN
18         NaN           NaN        NaN
19         NaN           NaN        NaN
20         NaN           NaN        NaN
21         NaN           NaN        NaN
22         NaN           NaN        NaN
23         NaN           NaN        NaN
24         NaN           NaN        NaN
25         NaN           NaN        NaN
26  Clamp_Unit           NaN        NaN
27         NaN           NaN        NaN
28         NaN           NaN        NaN
29         NaN           NaN        NaN
30         NaN           NaN        NaN